@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

$font: "Karla", sans-serif;
$brand-font: 'Rampart One', cursive;
$menu-header-font: 'Bowlby One', cursive;

